@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300&display=swap');

:root {
	--light-blue: #85daff;
	--green: #00f349;
	--dark-green: #219e3c;
	--light-gray: #d4e3e7;
}

* {
	font-family: 'Fira Sans', sans-serif;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--light-gray);
}

a {
	text-decoration: none;
}

a:hover {
	color: gray;
	transition: 0.4s background ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    	width: 20px;
}

::-webkit-scrollbar-track {
    	background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--light-blue);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Custom Underlines */
.underline--dark-blue {
    font: inherit;
    box-shadow: inset 0 -0.4em var(--dark-green);
}

.underline--orange {
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    box-shadow: inset 0 -0.4em var(--dark-orange);
}

/* Navbar */
nav {
	display: flex;
    justify-content: center;
	position: fixed;
    height: 50px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
	background: white;
	box-shadow: 0px 10px #b9b9b9a8;
}

.navbar-list {
	display: flex;
    align-items: center;
    list-style: none;
}

.navbar-list li {
	height: 30px;
	padding: 5px;
}

.navbar-link {
    color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    text-decoration: none;
    height: 100%;
}

.navbar-link:hover {
	color: var(--green);
	transition: 0.4s background ease;
}

/* Page Stuff */
.page-content {
	padding-top: 60px;
	width: 100%;
}

.logo-image {
	background-image: url("assets/banner.png");
	background-color: var(--green);
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.article {
	margin: 20%;
	margin-top: 7%;
	min-width: 100px;
	padding: 20px;
}

.video-container {
	background: var(--green);
	border-radius: 20px;
	padding: 30px;
	margin: 15%;
	margin-top: 5px;
}

.video-embed {
	margin: 5%;
}